@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #14213d;
  --secondary: #fca311;
  --terciary: tomato;
  --gray: #e5e5e5;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

/* Color theme */

.app {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}

#app-dark {
  background-color: var(--primary);
  color: white;
}

#app-light {
  background-color: white;
  color: #333;
}

/* LIGHT MODE */

#app-light .footer {
  background-color: var(--primary);
  color: white;
}

/* HEADER-Navbar  (dark)*/

.header {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 1800px;
  margin: 0 auto;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: 3px solid var(--gray);
  margin-top: 1rem;
}

.header h1 {
  margin-right: auto;
  color: var(--secondary);
  font-size: 2rem;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.navbar a {
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  display: inline-block;
}

.navbar a.active {
  background-color: var(--secondary);
}

.navbar a:hover {
  background-color: var(--terciary);
}

/* HEADER-Navbar  (light)*/
#app-light .header h1 {
  color: var(--terciary);
}

#app-light .navbar a {
  color: #333;
  border: 3px solid #333;
}

#app-light .navbar a.active {
  background-color: var(--terciary);
}

#app-light .navbar a:hover {
  background-color: var(--secondary);
}

#app-light .avatar-container {
  border: 3px solid var(--primary);
}

/* HEADER-Navbar  (media-queries)*/

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header h1 {
    font-size: 3rem;
  }

  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* Footer  (dark)*/

.footer {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  gap: 0.5rem;
}

/* Footer  (light)*/
#app-light .footer {
  background-color: var(--primary);
  color: white;
}

/* Footer  (media query)*/
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}

/* HOME (dark-mode)*/

.home-container {
  max-width: 1800px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.home-right {
  display: none;
}

.home-left {
  margin-bottom: 5rem;
}

.home-left {
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.home-left h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1;
  padding-left: 1rem;
  text-align: center;
  margin-top: 0;
}

.home-left a {
  color: white;
  background-color: #fca311;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
  font-size: 1.5rem;
  align-self: center;
  width: 50%;
  text-align: center;
  font-family: inherit;
  border-radius: 4px;
  animation: beat infinite 2s ease-in-out;
}

@keyframes beat {
  50% {
    scale: 1.08;
    background-color: tomato;
  }
}

.home-left a:hover {
  box-shadow: 0 0 20px white, 0 0 5px var(--terciary);
}

.home-accent {
  background-image: linear-gradient(135deg, var(--terciary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.home-quote {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-radius: 10px;
  margin: 0 2rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.cursive {
  font-style: italic;
}

/* HOME (light-mode)*/
#app-light .home-left a:hover {
  box-shadow: 0 0 5px var(--terciary), 0 0 10px rgba(0, 0, 0, 0.3);
}

#app-light .home-right img:hover {
  filter: drop-shadow(1px 1px 7px rgba(0, 0, 0, 0.8));
}

#app-light .home-quote {
  background-color: var(--primary);
  color: white;
}

/* HOME (media-queries)*/
@media screen and (min-width: 768px) {
  .home-right {
    display: block;
  }

  .home-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .home-right img {
    height: 700px;
  }

  .home-right img:hover {
    filter: drop-shadow(1px 1px 7px white);
  }
}

/* Dark mode icons */
.darkmode-btn {
  border: transparent;
  background-color: transparent;
  font-size: 2rem;
  color: white;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.darkmode-btn .theme-icon:hover {
  color: var(--secondary);
  scale: 1.2;
}

.color-mode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

/* Spinner (dark mode) */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 20px solid #f1d2a2;
  border-top: 20px solid var(--secondary);
  animation: spinner 1s infinite linear;
  margin-bottom: 6rem;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  100% {
    rotate: 360deg;
  }
}

.loading-spinner h2 {
  font-size: 1.3rem;
}

.articles-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner (light mode) */

#app-light .spinner {
  border: 20px solid #f1b7a2;
  border-top: 20px solid var(--terciary);
}

/* ShowMiniArticles and MiniArticles (dark mode) */

.article-card {
  background-color: white;
  color: #333;
  padding: 1rem;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card-img-wrapper {
  position: relative;
  height: 40%;
  border-top-right-radius: 10px;
}

.card-img-wrapper img {
  border-radius: 12px;
}

.article-link {
  text-decoration: none;
}

.article-card:hover {
  box-shadow: 0 0 20px white;
  cursor: pointer;
  scale: 1.03;
  transition: 0.2s linear all;
}

.card-title {
  font-size: 1.1rem;
  line-height: 1.3;
}

.card-author {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--secondary);
  font-weight: 500;
}

.miniArticle-metrics {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles-container {
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 6rem;
}

.card-topic {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--secondary);
  color: white;
  padding: 0.35rem 0.7rem;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* ShowMiniArticles and MiniArticles (light mode) */
#app-light .card-topic {
  background-color: var(--terciary);
}

#app-light .card-author {
  color: var(--terciary);
}

#app-light .article-card {
  background-color: var(--primary);
  color: white;
}

#app-light .article-card:hover {
  box-shadow: 0 0 20px black;
}

/* FullArticle */
.fullArticle-app {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 6rem;
  padding: 1rem;
}

.left-side-img-container {
  display: none;
}

/* FullArticle (media-query) */

@media screen and (min-width: 768px) {
  .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  .left-side-img-container {
    display: block;
  }
}

/* ShowFullArticle (dark-mode) */
.fullArticle-container {
  background-color: white;
  color: #333;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
}

.fullArticle-title {
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.date-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.fullArticle-author {
  color: var(--secondary);
  font-weight: 700;
}

.fullArticle-img-container {
  height: 300px;
  margin-bottom: 1rem;
  position: relative;
}

.fullArticle-img-container p {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--secondary);
  color: white;
  padding: 0.35rem 0.7rem;
}

.fullArticle-img-container img {
  object-fit: cover;
  display: block;
  box-shadow: 0 0 1px 7px var(--primary);
}

.fullArticle-body {
  line-height: 1.8;
  padding-top: 1rem;
}

/* ShowFullArticle (light-mode) */

#app-light .fullArticle-container {
  background-color: var(--primary);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#app-light .fullArticle-author {
  color: var(--terciary);
}

#app-light .fullArticle-img-container p {
  background-color: var(--terciary);
}

#app-light .fullArticle-img-container img {
  box-shadow: 0 0 1px 6px white;
}

/* ShowFullArticle (media-queries) */
@media screen and (min-width: 768px) {
  .fullArticle-app {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 0 2rem;
    max-width: 1800px;
    margin: 0 auto 2rem;
  }

  .fullArticle-img-container {
    height: 500px;
    margin-bottom: 1rem;
  }

  .fullArticle-container {
    padding: 2rem;
  }

  .fullArticle-title {
    font-size: 1.6rem;
  }

  .fullArticle-img-container p {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }

  .fullArticle-body {
    line-height: 1.9;
    font-size: 1.2rem;
  }
}

/* ShowComments */

.comments-container h2 {
  margin: 2rem 0;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Comment (dark-mode) */

.comment-container {
  border: 4px solid white;
  padding: 1rem;
  position: relative;
}

.comment-inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-author {
  border: 3px solid var(--secondary);
  font-weight: 600;
  color: var(--secondary);
  width: fit-content;
  padding: 0.25rem 0.5rem;
  margin: 1rem 0;
}

.comment-body {
  margin-bottom: 1rem;
}

.remove-comment {
  padding: 0.7rem 1rem;
  background-color: white;
  border: none;
  border-radius: 2px;
}

.remove-comment:hover {
  cursor: pointer;
  background-color: tomato;
  color: white;
}

/* Comment (light-mode) */

#app-light .comment-container {
  border-color: var(--primary);
}

#app-light .comment-author {
  border: 3px solid var(--terciary);
  color: var(--terciary);
}

#app-light .remove-comment {
  background-color: #333;
  color: white;
}

#app-light .remove-comment:hover {
  background-color: tomato;
}

/* Comment (media-query) */
@media screen and (min-width: 768px) {
  .comments {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .comments-container h2 {
    margin: 0 0 1rem 0;
  }
}

/* LikeArticle (dark-mode) */

.like-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.like-button {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;

  background-color: transparent;
  border: 3px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.like-button:hover {
  background-color: black;
  color: white;
  scale: 1.12;
}

.update-like-error {
  margin-top: 1rem;
  color: #333;
}

/* LikeArticle (light-mode) */

#app-light .like-button {
  background-color: white;
  border: 2px solid transparent;
}

#app-light .like-button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

#app-light .update-like-error {
  color: white;
}

#app-light .update-like-error {
  color: white;
}

/* LikeArticle (media-query) */

@media screen and (min-width: 768px) {
  .like-container {
    font-size: 1.5rem;
  }

  .like-button {
    font-size: 1.5rem;
  }
}

/* AddComment (dark-mode) */

.form-wrapper {
  border: 3px solid white;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.form-wrapper:hover {
  box-shadow: 0 0 20px white;
}

.form-wrapper .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

#add-comment-input {
  width: 100%;
  padding: 0.5rem 1rem;
  height: 100px;
  border-radius: 5px;
  line-height: 1.5;
  outline-color: var(--terciary);
  font-family: inherit;
}

.add-comment-btn {
  background-color: transparent;
  color: white;
  border: 3px solid white;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.add-comment-btn:hover {
  background-color: var(--terciary);
  color: white;
  border: 3px solid var(--terciary);
}

.error-comment-posting {
  color: white;
}

/* AddComment (light-mode) */

#app-light .form-wrapper {
  border: 3px solid var(--primary);
  background-color: transparent;
  color: #333;
}

#app-light .form-wrapper:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

#app-light #add-comment-input {
  outline-color: var(--primary);
  font-family: inherit;
}

#app-light .add-comment-btn {
  background-color: var(--primary);
  color: white;
  font-size: 1.2rem;
  border: 3px solid var(--primary);
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

#app-light .add-comment-btn:hover {
  background-color: var(--terciary);
  color: white;
  border: 3px solid var(--terciary);
}

#app-light .error-comment-posting {
  color: #333;
}

/* AddComment (media-query) */

@media screen and (min-width: 768px) {
  .form-wrapper {
    margin: 0 0 2rem 0;
  }
}

/* Filter Article */
.filter-wrapper {
  font-size: 1rem;
  width: 300px;
  margin: 0 auto 2rem auto;
  display: grid;
  gap: 1rem;
}

.filter {
  font-size: 1.3rem;
  font-family: inherit;
  padding: 0.35rem 0.7rem;
}

.radio-element input {
  height: 20px;
  width: 20px;
}

.radio-order {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.radio-element {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

/* Filter article (dark-mode) */
.filter {
  background-color: var(--secondary);
}

.radio-element {
  accent-color: var(--secondary);
}

/* Filter article (light-mode) */
#app-light .filter {
  background-color: var(--terciary);
}

#app-light .radio-element {
  accent-color: var(--terciary);
}

/* Filter article (media-query) */
@media screen and (min-width: 768px) {
  .filter-wrapper {
    font-size: 1.3rem;
    width: 80%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}

/* Error page */
.notFound {
  padding: 0 2rem;
  line-height: 1.8;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  margin-bottom: 6rem;
}

.notFound-right img {
  width: 100%;
  height: 100%;
}

.notFound a {
  background-color: var(--secondary);
  text-decoration: none;
  color: white;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 4px;
}

.notFound a:hover {
  background-color: var(--terciary);
}

.link-back {
  margin: 2rem 0;
}

.alice {
  display: none;
}

/* Error page (media query) */
@media screen and (min-width: 768px) {
  .notFound {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
  }

  .alice {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin-top: 2rem;
    text-align: left;
    width: fit-content;
    line-height: 2;
  }

  .alice p:last-child {
    margin: 1rem 0;
    text-align: right;
  }

  .highlight-1 {
    color: var(--secondary);
  }

  .highlight-2 {
    color: #fca311;
  }
}

/* Error page (light-mode) */
#app-light .alice {
  background-color: var(--primary);
  color: white;
}

#app-light .notFound a {
  background-color: var(--terciary);
}

#app-light .notFound a:hover {
  background-color: var(--secondary);
}
